header {
    color: #8CE67D;
    padding-top: 0.7rem;
}

body {
    font-family: 'Play', sans-serif;
    margin: 2.5rem;
    background-color: rgb(88, 6, 105);
    color: aliceblue;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    margin: 3rem;
}

.color {
    background: linear-gradient(269.96deg, #8CE67D -0.81%, #EE6485 27.1%, #6A82FF 69.12%, #F479FF 102.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

div#motto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.4rem;
}

.motta {

    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    height: 2.5rem;
    width: 12rem;
    text-align: center;
    padding-top: 0.5rem;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;

}

.grid div {
    height: 11rem;
    width: 11rem;
    margin: 2rem;
    margin-left: 1rem;
    text-align: center;
    font-size: 1.2rem;
    transition: transform .2s;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: aliceblue
}

.grid div:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}